* {box-sizing: border-box}
body {
  margin: 0;
}
nav {
  width: 100%;
  background-color: #4E4944;
  height: 61px;
  display: flex;
  justify-content: center;
}
.center-row {
  width: 100%;
  max-width: 60rem;
}
nav > .center-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
nav > .center-row > #menu {
  /*
  
  margin-right: 20px;
  display: none;
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  
*/
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background:#4E4944;
  position: absolute;
  top: -113px;
  left: 0;
  width: 100%;
  height: 113px;
  padding: 20px 20px 0px 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
}
nav > .center-row > #menu.open {
  top: 0;
/*
  display: flex;
  justify-content: space-around;
  background-color: #4E4944;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  margin-right: 0;
*/
}
/* menu spin */
#burg {
  display: inline-block;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0 0 0 20px;
  overflow: visible;
}
#burg.is-active .burg-inner,
#burg.is-active .burg-inner::before,
#burg.is-active .burg-inner::after {
  background-color: #fff; 
}
.burg-box {
  width: 26px;
  height: 12.414px;
  display: inline-block;
  position: relative;
}
.burg-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.burg-inner,
.burg-inner::before,
.burg-inner::after {
  width: 26px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.burg-inner::before,
.burg-inner::after {
  content: "";
  display: block;
}
.burg-inner::before {
  top: -8px;
}
.burg-inner::after {
  bottom: -8px;
}
.burg--spin .burg-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .burg--spin .burg-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .burg--spin .burg-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.burg--spin.is-active .burg-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .burg--spin.is-active .burg-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .burg--spin.is-active .burg-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
#menutab > svg {
  width: 26px;
}
/* end menu spin */
nav > .center-row > #menu a {
  text-decoration: none;
  color: #FFF;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  transition: opacity 100ms;
  opacity: 0;
}
nav > .center-row > #menu.open a {
  padding: 10px;
  opacity: 1;
  transition: opacity 1000ms;
}
/*
nav > .center-row > #menu a:not(:first-child) {
  margin-left: 50px;
}
nav > .center-row > #menu.open a:not(:first-child) {
  margin-left: 0;
}
*/
a#cart-wrap {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
}
a#cart-wrap > div {
  position: relative;
}
a#cart-wrap #cart-count {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  height: 19px;
  width: 19px;
  border-radius: 9.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 3px;
  position: absolute;
  top: -6px;
  left: 19px;
  opacity: 0;
}
a#cart-wrap #cart-count.dbldgts,
a#cart-wrap #cart-count.notempty.dbldgts {
  height: 23px;
  width: 23px;
  border-radius: 11.5px;
  top: -6px;
  left: 19px;
}
a#cart-wrap #cart-count.notempty {
  opacity: 1;
  background-color: #D35100;
}
.shopify-buy-frame.shopify-buy-frame--toggle {
  padding: 0;
}
a#cart-wrap #cart-count shopify-buy__cart-toggle__count {
  cursor: pointer;
}



a#cclogo {
  border: 4px solid #3C2816;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  width: 158px;
  height: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20px;
  left: calc(50% - 79px);
  z-index: 9999;
  transition: 0.25s ease-out;
  -webkit-transition: 0.25s ease-out;
}
a#cclogo.slide {
  transform: translateY(-110px);
  -webkit-transform:translateY(-110px);
}
section.top {
  width: 100%;
  height: 559px;
  background: linear-gradient(#e3e3e3 0%, #e8e9e8 100%);
  display: flex;
  justify-content: center;
}
section.top > .center-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 50px;
  padding: 0 30px;
}
section.top > .center-row .heading {

}
.heading h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  color: #3C2816;
  margin: 20px 0 10px;
}
.heading p {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #3C2816;
  margin: 0;
}
.btn-link-wrap {
  width: 100%;
  display: flex;
}
section.top > div.center-row > .btn-link-wrap {
 margin-top: 25px;
}
a.btn-link {
  text-decoration: none;
  color: #FFF;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  background-color: #E4730D;
  border-radius: 7px;
  width: 165px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.wear {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: 321px;
}
section.wear > .center-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  background-image: url("../img/wear.png");
  background-position: 112% bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 30px;
}
section.wear > div.center-row > .btn-link-wrap {
 margin-top: 65px;
}
section.cuffs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*height: 581px;*/
  background-image: url("../img/cuffsbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#cuff {
  position: absolute;
  background-image: url("../img/cuffs.png");
  background-repeat: no-repeat;
  background-position: right 200%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none;
}
img#cuffed {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: FlipH;
  margin: 0 30px -20px -120px;
}
section.cuffs > .center-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 95px 0 0;
  z-index: 1;
}
section.cuffs h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
  color: #3C2816;
  margin: 0 0 10px;
  text-align: center;
}
section.cuffs h2:nth-child(2) {
  font-weight: 300;
  font-size: 25px;
}
#emailform {
  margin-top: 15px;
  max-width: 363px;
  height: 52px;
  border: 2px solid #707070;
  border-radius: 7px;
  display: flex;
}
#emailform input[type="email"] {
  background: none;
  background-color: #FFF;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #3C2816;
  border: none;
  padding: 0;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 0 10px;
}
#emailform input::-webkit-input-placeholder { /* Edge */
  color: #BCB7B3;
}
#emailform input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BCB7B3;
}
#emailform input::placeholder {
  color: #BCB7B3;
}
#emailform input[type="submit"] {
  background: none;
  background-color: #E4730D;
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 119px;
  display: flex;
  justify-content: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
section.card-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
section.card-store > .center-row:first-child,
section.shirts > .center-row:first-child {
  display: flex;
  width: 100%;
  max-width: 60rem;
}
section.card-store > .center-row:first-child > h1,
section.shirts > .center-row:first-child > h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 42px;
  color: #3C2816;
  margin: 160px 0 20px;
  border-bottom: 2px solid #3C2816;
  width: 100%;
}
section.card-store > .center-row:not(:first-child),
section.shirts > .center-row:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 0 10px;
}
a.card {
  text-decoration: none;
  /*margin-right: -10%;
  margin-right: -65%;*/
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(50% - 10px);
  height: auto;
}
a.shirt {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(50% - 22.5px);
  height: auto;
}
a.shirt:nth-child(odd) {
  margin-right: 45px;
}
a.card:nth-child(odd) {
  margin-right: 10px;
}
.card-imgs-wrap {
  border: 1px solid #707070;
  overflow: hidden;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}
.shirt-imgs-wrap {
  border: 1px solid #707070;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px;
}
.card-imgs {
  position:relative;
  /*max-width: 416px;
  max-height: 316.44px;*/
  line-height: 0;
  /*width: 165%;
  height: 180px;*/
  /*margin: 10px 0 10px 10%;*/
  width: 115%;
}
.shirt-imgs {
  position:relative;
  width: 100%%;
}
.card-imgs-wrap img,
.shirt-imgs-wrap img, {
  /*max-width: 100%;*/
}
.card-wrap,
.shirt-wrap {
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
section.top .card-imgs {
  max-width: 223px;
  max-height: 169px;
}
.card-wrap .card-imgs:not(:first-child) {
  margin-left: -35px;
}
.card-wrap .card-imgs:nth-child(3) {
  margin-right: -70px
}
.product-overlay {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-info {
  text-align: center;
  /*max-width: 49%;;*/
  margin: 6px 0;
}
.shirt-info {
  text-align: center;
  margin: 20px 0 10px;
}
.shirt h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  color: #3C2816;
  margin: 0;
}
.card-info h3,
.shirt-info h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  font-size: 16px;
  line-height: 22px;
  color: #3C2816;
  margin: 0;
}
.card-info h3:nth-child(2),
.shirt h3:nth-child(2) {
  font-weight: 500;
}


section.shirts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
section.shirts > .center-row:first-child {
  display: flex;
  width: 100%;
  max-width: 60rem;
}
/*
section.shirts > .center-row:first-child > h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  line-height: 56px;
  color: #3C2816;
  margin: 160px 0 20px;
  border-bottom: 2px solid #3C2816;
  width: 100%;
}

section.shirts > .center-row:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem;
  overflow-x: visible;
  box-sizing: border-box;
  margin-bottom: 40px;
}
*/
a.shirt {
  /*
  text-align: center;
  text-decoration: none;
  width: 50%;
  */
}
a.shirt:nth-child(odd) {
  margin-right: 45px;
}
a.shirt > img {
  max-width: 470px;
  width: 100%;
}
/* product */
section.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 252px;
}
section.product > .center-row {
  width: 100%;
  max-width: 60rem;
  overflow: hidden;
}
#product {
  margin: 0 20px;
}
/* end product */


section.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 252px;
}
section.detail > .center-row:first-child {
  display: flex;
  width: 100%;
  max-width: 60rem;
}
section.detail > .center-row > div:nth-child(2) {
  margin-left: 44px;
  width: 50%;
}
.mySlides {display: none;}
section.detail img {vertical-align: middle;}
.slideshow-container {
  width: 470px;
  max-width: 1000px;
  position: relative;
}
.slideshow-container svg {
  fill:none;
  stroke:#707070;
}
.nxt {
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-top: -22px;
  width: 22px;
  right: -22px;
  user-select: none;
}
.prv {
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-top: -22px;
  width: 22px;
  left: -22px;
  user-select: none;
}
.sizes {
  display: flex;
}
.sizes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.sizes p:first-child {
  border: 1px solid #707070;
  border-radius: 4px;
  width: 60px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #3C2816;
  padding-bottom: 5px;
} 
.sizes p:nth-child(2) {
  text-align: center;
  margin: 7px 0 0;
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #3C2816;
}
section.detail h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #3C2816;
  margin: 0;
}
section.detail h3 {
  font-family: acumin-pro, sans-serif;  
  font-weight: 600;
  font-size: 20px;
  color: #3C2816;
  margin: 0;
}
section.detail h4 {
  width: 100%;
  border-bottom: 1px solid #707070;
  font-family: acumin-pro, sans-serif;  
  font-weight: 600;
  font-size: 16px;
  color: #3C2816;
  margin: 56px 0 9px;
}
footer {
  background-color: #4E4944;
  height: 62px;
  display: flex;
  align-items: center;
}
footer > h4 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 23px;
  color: #FFF;
  margin: 0 0 0 10%;
}
@media (min-width: 375px) {
  a.card {
    /*margin-right: -55%;*/
  }
}
@media (min-width: 414px) {
  a.card {
    /*margin-right: -50%;*/
  }
}
@media only screen and (min-width: 23.4375rem) {
  .card-wrap .card-imgs:not(:first-child) {
    margin-left: -65px;
  }
  .card-wrap .card-imgs:nth-child(3) {
    margin-right: -85px
  }
  section.wear > .center-row {
    background-position: 125% bottom;
  }
}
@media only screen and (min-width: 25.875rem) {
  section.wear > .center-row {
    background-position: 110% bottom;
  }
}
@media only screen and (min-width: 26.875rem) {
  section.wear > .center-row {
    background-position: right bottom;
  }
}
@media only screen and (min-width: 35.9375rem) {
  section.wear > .center-row {
    background-position: 80% bottom;
  }
}
@media only screen and (min-width: 60rem) {
  nav > .center-row {
    max-width: 60rem;
  }
  nav > .center-row > #menu,  nav > .center-row > #menu.open {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    height: 61px;
    padding: 0;
    margin-right: 50px;
    position: relative;
  }
  a#cclogo.slide {
  transform: translateY(0);
  -webkit-transform:translateY(0);
  }
  nav > .center-row > #menu a {
    opacity: 1;
  }
  nav > .center-row > #menu a:not(:last-child), nav > .center-row > #menu.open a:not(:last-child) {
    margin-right: 48px;
  }
  #burg {
    display: none;
  }
  a#cclogo {
    left: 0;
  }
  section.top .card-imgs {
    max-width: 363.33px;
    max-height: 276.38px;
  }
  .card-wrap .card-imgs:not(:first-child) {
    margin-left: -155px;
  }
  .card-wrap .card-imgs:nth-child(2) {
    display: none;
  }
  section.top > .center-row {
    padding: 0;
  }
  section.top > .center-row .heading {
    width: 100%;
    max-width: 345px;
    position: absolute;
    right: 0;
    margin-top: -80px;
  }
  .heading h1 {
    font-size: 40px;
    line-height: 56px;
    margin: 0 0 20px;
  }
  .heading p {
    font-size: 20px;
    line-height: 27px;
  }
  .btn-link-wrap {
    justify-content: center;
  }
  section.top > div.center-row > .btn-link-wrap {
   margin-top: 50px;
  }
  section.wear > .center-row {
    margin-top: 50px;
    background-position: right bottom;
    padding: 0;
  }
  section.cuffs {
    flex-direction: row;
    height: 581px;
  }
  #cuff {
    position: absolute;
    background-image: url("../img/cuffs.png");
    background-repeat: no-repeat;
    background-position: right 200%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: block;
  }
  section.cuffs > .center-row {
    margin: 140px 0 0;
  }
  section.cuffs h2 {
    font-size: 25px;
    line-height: 35px;
  }
  section.cuffs h2 span {
    display: none;
  }
  img#cuffed {
    display: none;
  }
  section.wear {
    height: 620px;
  }
  section.wear > div.center-row > .btn-link-wrap {
   margin-top: 150px;
  }
  #product {
   margin: 0;
  }
  a.card {
    /*margin-right: -10%;*/
    width: calc((122% / 3) - 40px);
    margin-left: -29px;
  }
  .card-imgs-wrap, .shirt-imgs-wrap {
    border: none;
 }
  section.card-store > .center-row:not(:first-child) {
    flex-direction: row;
    align-items: flex-start;
    overflow-x: visible;
  }
  section.card-store > .center-row:first-child > h1,
  section.shirts > .center-row:first-child > h1 {
    font-size: 40px;
    line-height: 56px;
  }
  a.shirt {
    width: calc(50% - 45px);
  }
  a.shirt:nth-child(odd) {
    margin-right: 90px;
  }
  .card-info h3,
  .shirt-info h3 {
    font-size: 18px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 70rem) {
  a#cclogo {
    left: -80px;
  }
}