{% extends "layout.njk" %}

{% block meta %}{% endblock %}

{% block title %}ConCards - Cards{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<section class="card-store">

  <div class="center-row">
    <h1>ConCards - Cards</h1>
  </div>

  <div class="center-row">
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/chow-hall-charlie.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Chow Hall Charlie</h3>
        <h3>Donald Cox</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/rec-yard-randy.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Recyard Randy</h3>
        <h3>Donald Cox</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/trust-me.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Trust Me</h3>
        <h3>Donald Cox</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
  </div>

  <div class="center-row">
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/sancho-villa.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Sancho Villa</h3>
        <h3>Donald Cox</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/maintenance-moe.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Maintenance Moe</h3>
        <h3>Donald Cox</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/friday.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Friday</h3>
        <h3>D. Gustafson</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
  </div>

  <div class="center-row">
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/156-months.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>156 Months</h3>
        <h3>D. Gustafson</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/happy-bday-tribe.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Happy Birthday Tribe</h3>
        <h3>David Harriman</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/happy-bday-flowers.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Happy Birthday Flowers</h3>
        <h3>David Harriman</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
  </div>

  <div class="center-row">
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/anime-1.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Anime 1</h3>
        <h3>David Harriman</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
    <a href="" class="card">
      <div class="card-imgs">
        <img src="../img/shadow.png">
        <img src="../img/anime-2.jpg" class="product-overlay" >
      </div>
      <div class="card-info">
        <h3>Anime 2</h3>
        <h3>David Harriman</h3>
        <h3>$5.95</h3>        
      </div>
    </a>
  </div>

</section>
{% endblock %}

{% block javascript %}{% endblock %}