{% extends "layout.njk" %}

{% block meta %}{% endblock %}

{% block title %}ConCards - Wear{% endblock %}

{% block head %}
  <link rel="stylesheet" href="../css/shopify.css">
{% endblock %}

{% block content %}
<section class="shirts">

  <div class="center-row">
    <h1>ConCards - Wear</h1>
  </div>

  <div class="center-row">
<!--
    <a href="animazing.html" class="shirt">
      <img src="../img/steam-skull.png">
      <h3>Steam Skull</h3>
      <h3>T. Ultsch</h3>
      <h3>$28.95</h3>        
    </a>
    <a href="animazing.html" class="shirt">
      <img src="../img/family-over-everything.png">
      <h3>Family Over Everything</h3>
      <h3>T. Ultsch</h3>
      <h3>$28.95</h3>
    </a>
  </div>

  <div class="center-row">
    <a href="animazing.html" class="shirt">
      <img src="../img/logo-shirt.png">
      <h3>Logo T-shirt</h3>
      <h3>ConCards</h3>
      <h3>$28.95</h3>        
    </a>
    <a href="animazing.html" class="shirt">
      <img src="../img/steam-skull.png">
      <h3>Steam Skull</h3>
      <h3>T. Ultsch</h3>
      <h3>$28.95</h3>
    </a>
  </div>

  <div class="center-row">
    <a href="animazing.html" class="shirt">
      <img src="../img/family-over-everything.png">
      <h3>Family Over Everything</h3>
      <h3>T. Ultsch</h3>
      <h3>$28.95</h3>        
    </a>
    <a href="animazing.html" class="shirt">
      <img src="../img/logo-shirt.png">
      <h3>Logo T-shirt</h3>
      <h3>ConCards</h3>
      <h3>$28.95</h3>
    </a>
  </div>
-->
  </div>
</section>
{% endblock %}

{% block javascript %}
  <script src="../js/shirts.js"></script>
  <script src="../js/cartonly.js"></script>
{% endblock %}